.react-calendar {
  width: 350px;
  max-width: 100%;
  background: transparent;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 2px 0 2px 0;
  border: 0;
  outline: none;
  /* width: 30px; */
  height: 30px;
  /* flex-basis: 12% !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none !important;
  /* flex-basis: auto !important; */
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}

/* navigation start */

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.react-calendar__navigation__label__divider {
  display: none;
}

.react-calendar__navigation .react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.react-calendar__navigation .react-calendar__navigation__label {
  pointer-events: none;
  justify-content: space-around;
  display: flex;
}

.react-calendar__navigation .react-calendar__navigation__arrow {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  background: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /* border-radius: 4px; */
  background: rgba(27, 57, 146, 0.1);
}

.react-calendar__navigation .react-calendar__navigation__arrow:hover {
  color: #1b3992;
  transition: all 0.2s;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

/* navigation end */

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 12px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-family: "Roboto";
  color: #666666;
  font-size: 10px;
  line-height: 14px;
  /* flex-basis: 12% !important; */
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #1d1d1d;
  opacity: 0.4;
}

/* number cells */
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  border: 1px solid transparent !important;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 30px;
  max-width: 30px;
  text-align: center;
  /* padding: 0.3em 0.3em; */
  background: none;
}

/* Start range button  */
.react-calendar__tile--rangeStart {
  background-color: #1b3992 !important;
  border-radius: 4px;
}

.react-calendar__tile--rangeStart abbr {
  color: white !important;
}

/* Start range button  */

/* End range button  */
.react-calendar__tile--rangeEnd {
  background-color: white !important;
  border: 1px solid #1b3992 !important;
  border-radius: 4px;
}

.react-calendar__tile--rangeEnd abbr {
  color: #1b3992 !important;
}

/* End range button  */

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: rgba(0, 101, 255, 0.1);
}

.react-calendar__tile--hasActive {
  background: rgba(0, 101, 255, 0.1);
}

.react-calendar__tile--active {
  background: rgba(0, 101, 255, 0.1);
  color: black;
}

.react-calendar__tile abbr {
  color: inherit;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background: rgba(0, 101, 255, 0.1);
}

@media screen and (max-width: 700px) {
  .react-calendar {
    width: 250px;
  }
}
