html {
  -moz-osx-font-smoothing: grayscale !important; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased !important; /*(For Chrome and Safari)*/
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input {
  -webkit-appearance: none;
}

@tailwind base;
@tailwind components;

body {
  font-family: "Montserrat", sans-serif;
}

input:focus,
button:focus {
  @apply outline-none;
}

@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.markdown h1 {
  @apply font-semibold text-[36px] md:text-[54px] mt-10 mb-6;
}

.markdown h2 {
  @apply font-semibold text-[24px] lg:text-[36px] mt-6 mb-4;
}

.markdown h3 {
  @apply font-semibold text-[18px] lg:text-[22px] mt-4 mb-3;
}

.markdown_paragraph-indent p {
  margin-bottom: 20px;
}

.markdown_paragraph-indent p:last-of-type {
  margin-bottom: 0;
}

.markdown.text-block strong {
  @apply font-semibold;
}

.terms.markdown p a {
  @apply underline;
}

.terms.markdown ol {
  @apply list-decimal  ml-5;
}

.project.markdown ul {
  @apply ml-5;
}
